
@import 'normalize.css'
@import 'reset.styl'

$colorHeader =   #ee7a20
$ColorFuenteHeader = #FAFAFA
$colorEfectoFuente = #f7e81e
$colorEfectoMenu = #95511c
$colorVerde = #34522a
$colorGris = #f2f2f2
$colorcafe = #ab6634
$colorazul = #527ea1
$colorrojo = #C0272D
@font-face
    font-family BebasNeue
    src url('./fonts/bebasneue.woff')
body , html
    background url('./images/fondo_camping.jpg') center no-repeat
    background-attachment: fixed
    background-size: cover
    font-size 2.5vh
    height 100vh
    min-height 100vh
    position: relative

@import 'header.styl'
@import 'contenido.styl'
@import 'footer.styl'
@import 'fancybox/jquery.fancybox-buttons.css'
@import 'fancybox/jquery.fancybox-thumbs.css'
@import 'fancybox/jquery.fancybox.css'








